<% @movies.each do |movie| %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <iframe src="<%= display_video movie.url %>" class="w-100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-md-5">
      <p>
        <%= link_to movie_path(movie), style: "color: red" do %>
          <%= movie.title %>
        <% end %>
      </p>
      <p>Shared by: <%= movie.user.email %></p>
      <p>Description:</p>
      <p><strong><%= movie.description %></strong></p>
    </div>
    <div class="col-md-2"></div>
  </div>
<% end %>
