<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <iframe src="<%= display_video @movie.url %>" class="w-100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="col-md-5">
    <p class="red-text">
      <%= @movie.title %>
    </p>
    <p>Description:</p>
    <p><strong><%= @movie.description %></strong></p>
    <% if current_user&.id == @movie.user_id %>
      <p>
        <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-primary" %>
        <%= link_to "Delete", movie_path(@movie), method: :delete, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
